body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 16, 0);
}

.jeu {
    display: flex;
    /* width: 1000px; */
    /* height: 600px; */
    overflow: hidden;


    /* Background en damier brun clair et brun foncé */
    background-color: rgb(101, 34, 0);
    background-image: linear-gradient(45deg, rgb(155, 59, 11) 25%, transparent 25%, transparent 75%, rgb(155, 59, 11) 75%, rgb(155, 59, 11)),
        linear-gradient(45deg, rgb(155, 59, 11) 25%, transparent 25%, transparent 75%, rgb(155, 59, 11) 75%, rgb(155, 59, 11));
    background-size: 200px 200px;
    background-position: 0 0, 100px 100px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cube {
    background-color: rgb(22, 85, 137);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.cube2 {
    background-color: rgb(255, 58, 58);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.cristal{
    background-color: rgb(255, 58, 229);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.bouge {
    background-color: rgb(67, 142, 204);
}

.bouge2 {
    background-color: rgb(255, 95, 121);
}

.win {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
}

.commandes{
    background-color: rgb(255, 169, 129);
    width: 700px;
}

.clavier{
    width: 20%;
    margin-left: 16px;
}

.commandes2{
    display: flex;
    align-items: center;
    gap: 32px;
}

.commandes3{
    margin-right: 16px;
}

.entetecommande{
    background-color: rgb(255, 169, 129);
    width: 30%;
    height: 32px;
    border-radius: 100px 100px 0% 0%;
    padding-left: 16px;
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.8s;
}

.casecommande{
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(10%, 100%);
    z-index: 5;
    transition: 0.4s;
}

.CommandeAffichée{
    transform: translate(10%, 0%);
}

.EnteteCollé{
    transform: translateY(0%);
    transition: 0s;
}